{% extends 'base.html' %}

{% block content %}

<main id="main">

    <section class="section pb-5">
        <div class="container">
            <div class="row mb-5 align-items-end">
                <div class="col-md-6" data-aos="fade-up">

                    <h2>About Me</h2>
                    <p class="mb-0">My is Igwe Tochukwu Peter, I am a final year graduate student, studying computing at
                        the University of Sunderland.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
                    <h3 class="h3 mb-4">Skills</h3>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <div class="d-flex mb-1">
                                <strong>Project management:</strong>
                                <span class="ml-auto"> 80%</span>
                            </div>
                            <div class="progress custom-progress">
                                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="d-flex mb-1">
                                <strong>Network security:</strong>
                                <span class="ml-auto"> 96%</span>
                            </div>
                            <div class="progress custom-progress">
                                <div class="progress-bar" role="progressbar" style="width: 96%" aria-valuenow="96"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="d-flex mb-1">
                                <strong>UI/UX:</strong>
                                <span class="ml-auto">99%</span>
                            </div>
                            <div class="progress custom-progress">
                                <div class="progress-bar" role="progressbar" style="width: 99%" aria-valuenow="99"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="d-flex mb-1">
                                <strong>End user support:</strong>
                                <span class="ml-auto">87%</span>
                            </div>
                            <div class="progress custom-progress">
                                <div class="progress-bar" role="progressbar" style="width: 87%" aria-valuenow="87"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="d-flex mb-1">
                                <strong>Networking:</strong>
                                <span class="ml-auto">85%</span>
                            </div>
                            <div class="progress custom-progress">
                                <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="d-flex mb-1">
                                <strong>HTML/CSS:</strong>
                                <span class="ml-auto">100%</span>
                            </div>
                            <div class="progress custom-progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="88"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                    </ul>
                    </br></br>
                    <p>I studied Business Technology Management in my Undergraduate studies, and studying this course
                        arouse my interest in computing and I wish to develop more in this field. </p>
                    <p>I am passionate about modern technologies and digital businesses.</p>
                </div>

                <div class="col-md-7 mb-5 mb-md-0" data-aos="fade-up">
                    <p><img src="{{ url_for('static', filename='assets/img/person_1_sq.jpg') }}" alt="Image"
                            class="img-fluid"></p>
                </div>

            </div>

        </div>

    </section>
    <br /><br />

    {% endblock %}